/* General */
.card-bg {
  background-color: #d1d1d1;
  border-bottom-right-radius: 0.20rem !important;
  border-bottom-left-radius: 0.20rem !important;
}

.tooltip-underline {
  border-bottom: 1px dotted black;
}

.warn {
  color: #b80303;
}

.prize-shop-blue {
  background-color: #3059a5;
}

.prize-shop-darkblue {
  background-color: #254581;
}

/* Current Staff Namecolors */
.appletunalamode {
  color: #3E7C33;
}

.argynt {
  color: #8AA139;
}

.billo {
  color: #B94C97;
}

.castlebuilder {
  color: #BF487F;
}

.ciran {
  color: #659B41;
}

.clefable {
  color: #E1197D;
}

.kaylubiso {
  color: #BE5C36;
}

.loethalion {
  color: #2a87c6;
}

.mex {
  color: #47A629;
}

.nicolic {
  color: #E30DD4;
}

.oseanworld {
  color: #C78023;
}

.ouinvestigation {
  color: #3b8091;
}

.pooof {
  color: #9E4AC8;
}

.queeni {
  color: #26A863;
}

.sexymalasada {
  color: #3270C8;
}

.shahafs {
  color: #40A610;
}

.shuutsukiyama {
  color: #D77B11;
}

.suzue {
  color: #c926a3;
}

.theblaah {
  color: #367D39;
}

.swiffix {
  color: #16ABBE;
}

.wigglytree {
  color: #12a5ca;
}

/* Retired Staff Namecolors & Honourable Mentions */
.adamew {
  color: #38A87B;
}

.alyxrixius {
  color: #A648C2;
}

.skies {
  color: #B55A2C;
}
