/* General */
.card-bg {
  background-color: #d1d1d1;
  border-bottom-right-radius: 0.2rem !important;
  border-bottom-left-radius: 0.2rem !important;
}

/* Margin styling */

/* Applies to all lists, ignores navbar */
ul li,
ol li {
    margin-bottom: 10px;
}

.navbar li {
    margin-bottom: 0;
}

/* Applies to all alert boxes */
.alert {
    margin-bottom: 20px;
}

/* Applies to all page buttons */
a.list-group-item {
    margin-bottom: 20px;
}

/* Applies dotted lines to tooltips */
.tooltip-underline {
  border-bottom: 1px dotted black;
}

/* Applies styling to <blockquote> tags */
blockquote {
  background: #c5c5c5;
  border: 1px solid #9e9e9e;
  border-left: 5px solid #6d2280;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Style the image inside the popup */
.popup-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Close button styling */
.popup-close {
  position: absolute;
  top: 60px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.popup-close:hover {
  color: #f00;
}

.spoiler {
    background-color: gray;
    color: transparent;
    user-select: none;
}

    .spoiler:hover {
        background-color: inherit;
        color: inherit;
    }

.clickable-image {
    cursor: pointer !important;
}

.accordion-button {
  background-color: #7a298f;
  color: #f8f9fa; /* Ensure the text is readable */
  border-bottom-right-radius: calc(.25rem - 1px) !important;
  border-bottom-left-radius: calc(.25rem - 1px) !important;
}

.accordion-button:not(.collapsed) {
  background-color: #7a298f;
  color: #f8f9fa;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f8f9fa'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  background-color: #d1d1d1;
  color: black;
  border: 1px solid #343a40;
  padding: 1rem;
}

/* Scrollable tables used for in the Misc pages */

.table-container {
    max-height: 60vh;
    overflow-x: auto; 
    overflow-y: auto; 
    position: relative;
    border: 1px solid black; 
}

/* Hackmon blacklist table specifics */
.blacklist-table {
    border-collapse: collapse;
    table-layout: auto;
    text-align: center;
    border-spacing: 0;
    margin: 0;
    max-width: 100%;
    width: auto;
}

.blacklist-table th,
.blacklist-table td {
    text-align: center;
    vertical-align: middle;
    padding: 0.75rem;
    border: none;
}

.blacklist-table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #212529;
    color: #fff;
    padding: 0.75rem;
    border: none;
    text-align: center;
}
    .blacklist-table thead th:nth-child(3),
    .blacklist-table tbody td:nth-child(3) {
        min-width: 180px; 
        white-space: normal;
        word-break: break-word;
        text-align: center;
    }

    .blacklist-table thead th:nth-child(4),
    .blacklist-table tbody td:nth-child(4) {
        min-width: 250px;
        white-space: normal;
        word-break: break-word;
        text-align: center;
    }

/* Cloner table specifics */
.cloner-table {
    border-collapse: collapse;
    table-layout: auto;
    text-align: center;
    border-spacing: 0;
    margin: 0;
    max-width: 100%;
    width: auto;
}

.cloner-table th,
.cloner-table td {
    text-align: center;
    vertical-align: middle;
    padding: 0.75rem;
    border: none;
}

.cloner-table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #212529;
    color: #fff;
    padding: 0.75rem;
    border: none;
    text-align: center;
}

    .cloner-table thead th:nth-child(3),
    .cloner-table tbody td:nth-child(3) {
        min-width: 180px;
        white-space: normal;
        word-break: break-word;
        text-align: center;
    }

    .cloner-table thead th:nth-child(4),
    .cloner-table tbody td:nth-child(4) {
        min-width: 180px;
        white-space: normal;
        word-break: break-word;
        text-align: center;
    }

    .cloner-table thead th:nth-child(5),
    .cloner-table tbody td:nth-child(5) {
        min-width: 350px;
        white-space: normal;
        word-break: break-word;
        text-align: center;
    }

/* Jargon table specifics */
.jargon-table {
    border-collapse: collapse;
    table-layout: auto;
    text-align: center;
    border-spacing: 0;
    margin: 0;
    max-width: 100%;
    width: auto;
}

    .jargon-table thead th {
        position: sticky;
        top: 0;
        z-index: 2;
        background: #212529;
        color: #fff;
        padding: 0.75rem;
        border: none; /* no border on header cells */
        text-align: center;
    }

    .jargon-table tbody th,
    .jargon-table tbody td {
        border: 1px solid #000; /* borders only on body cells */
        text-align: center;
        vertical-align: middle;
        padding: 0.75rem;
    }

        /* Left-align definitions (2nd column) for readability */
        .jargon-table tbody td:nth-child(2) {
            text-align: left;
        }

/* End of table section */

/* PS Chat */
.ps-chat-sample {
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  font-family: monospace;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 2px;
}

/* Namecolors for the Prize Shop section */
.warn {
  color: #b80303;
}

.prize-shop-blue {
  background-color: #3059a5;
}

.prize-shop-darkblue {
  background-color: #254581;
}

.icon-light {
  color: #b1b1b1;
}

/* Current Staff Namecolors */
.ancef {
  color: #ba1263;
}

.argynt {
  color: #8aa139;
}

.arnavchawla {
  color: #25b5ae;
}

.beastball {
  color: #c2150f;
}

.billo {
  color: #b94c97;
}

.chimera {
  color: #32a925;
}

.ciran {
  color: #659b41;
}

.clefable {
  color: #e1197d;
}

.cosplayfurret {
  color: #0e91a0;
}

.dawolfkid {
  color: #626ed0;
}

.gardevoirgallade {
  color: #8024e9;
}

.loethalion {
  color: #2a87c6;
}

.mex {
  color: #47a629;
}

.nicolic {
  color: #e30dd4;
}

.nighthawkl06 {
  color: #9518e2;
}

.pooof {
  color: #9e4ac8;
}

.ryxxlym {
  color: #b145bf;
}

.sexymalasada {
  color: #3270c8;
}

.shahafs {
  color: #40a610;
}

.shelbito {
  color: #84a031;
}

.slugwithswagger {
  color: #8b9e1f;
}

.thisnameperhaps {
  color: #a153be;
}

.valerian {
  color: #d70f3a;
}

.wigglytree {
  color: #12a5ca;
}

/* Retired Staff Namecolors & Honourable Mentions */
.adamew {
  color: #38a87b;
}

.alyxrixius {
  color: #a648c2;
}

.castlebuilder {
  color: #bf487f;
}

.kaylubiso {
  color: #be5c36;
}

.lego {
  color: #1e6bb8;
}

.lionyx {
  color: #389962;
}

.lunell {
  color: #cb2aa6;
}

.oseanworld {
  color: #c78023;
}

.ouinvestigation {
  color: #3b8091;
}

.queeni {
  color: #26a863;
}

.shuutsukiyama {
  color: #d77b11;
}

.skies {
  color: #b55a2c;
}

.suzue {
  color: #c926a3;
}

.theblaah {
  color: #367d39;
}

.swiffix {
  color: #16abbe;
}
