/* General */
.card-bg {
  background-color: #d1d1d1;
  border-bottom-right-radius: 0.20rem !important;
  border-bottom-left-radius: 0.20rem !important;
}

.tooltip-underline {
  border-bottom: 1px dotted black;
}

blockquote {
  background: #c5c5c5;
  border: 1px solid #9e9e9e;
  border-left: 5px solid #6d2280;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.warn {
  color: #b80303;
}

.prize-shop-blue {
  background-color: #3059a5;
}

.prize-shop-darkblue {
  background-color: #254581;
}

/* Current Staff Namecolors */
.appletunalamode {
  color: #3E7C33;
}

.argynt {
  color: #8AA139;
}

.billo {
  color: #B94C97;
}

.ciran {
  color: #659B41;
}

.clefable {
  color: #E1197D;
}

.cosplayfurret {
  color: #0E91A0;
}

.dawolfkid {
  color: #626ED0;
}

.doctortimmy {
  color: #826B18;
}

.gardevoirgallade {
  color: #8024E9;
}

.kaylubiso {
  color: #BE5C36;
}

.lionyx {
  color: #389962;
}

.loethalion {
  color: #2A87C6;
}

.mex {
  color: #47A629;
}

.nicolic {
  color: #E30DD4;
}

.nighthawkl06 {
  color: #9518E2;
}

.pooof {
  color: #9E4AC8;
}

.ryxxlym {
  color: #B145BF;
}

.sexymalasada {
  color: #3270C8;
}

.shahafs {
  color: #40A610;
}

.shuutsukiyama {
  color: #D77B11;
}

.wigglytree {
  color: #12A5CA;
}

/* Retired Staff Namecolors & Honourable Mentions */
.adamew {
  color: #38A87B;
}

.alyxrixius {
  color: #A648C2;
}

.castlebuilder {
  color: #BF487F;
}

.lego {
  color: #1E6BB8;
}

.oseanworld {
  color: #C78023;
}

.ouinvestigation {
  color: #3b8091;
}

.queeni {
  color: #26A863;
}

.skies {
  color: #B55A2C;
}

.suzue {
  color: #c926a3;
}

.theblaah {
  color: #367D39;
}

.swiffix {
  color: #16ABBE;
}
