<!--Add anything specific to GBA Gifts here.-->

<h5 span class="fw-bold">Proof Checklist:</h5>

<p>Unless otherwise stated, everything listed in the checklist below is considered a requirement! Follow along with the checklist to ensure that your album is suitable for trading.</p>

<div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center fw-bold text-light" style="background-color: #7a298f;" id="gba-gift">
        <img src="/images/icons/consoleicon/GBA.png" class="rounded" style="width:25px;height:25px;">
        <span class="text-center flex-grow-1">GBA - Gift Redemptions</span>
        <img src="/images/icons/consoleicon/GBA.png" class="rounded" style="width:25px;height:25px;">
    </div>
    <div class="card-body card-bg">
        <span class="fw-bold">If you are using Lua scripts for RNG manipulation, you must provide:</span><br />
        <p><small class="text-muted mb-3 mt-0"><span class="fw-bold">{% include common/sensitive-info-paragraph.html %}</span></small></p>

        <label>
            <input type="checkbox" id="checkbox-gift-1-gba-lua">
            A <a href="./gba/rsefrlg/images/gift/G3-Gift-1.png" class="clickable-image" data-image="./gba/rsefrlg/images/gift/G3-Gift-1.png">screenshot</a> displaying that you have hit your target frame (i.e. The last text box asking the player to accept the gift), with the Lua script on display clearly showing the seed and frame count where possible.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-gift-2-ds4-lua">
            A <a href="./gba/rsefrlg/images/gift/G3-Gift-2.png" class="clickable-image" data-image="./gba/rsefrlg/images/gift/G3-Gift-2.png">screenshot</a> immediately after redemption, with the Lua script on screen, clearly displaying the internal details of the Pok&eacute;mon (IVs/Nature/PID etc.).
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-gift-2-gba-lua">
            A <a href="./gba/rsefrlg/images/gift/G3-Gift-3.png" class="clickable-image" data-image="./gba/rsefrlg/images/gift/G3-Gift-3.png">screenshot</a> of the Pok&eacute;mon Summary displaying both the stats and OT/TID of the Pok&eacute;mon that was obtained (mandatory for Lua scripts that do not prove IVs) or your Trainer Card (acceptable if IVs are already proven in the above screenshot).
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-gift-3-gba-lua">
            If your Pok&eacute;mon was achieved by RNG manipulation, include a screenshot of the <a href="./gba/rsefrlg/images/gift/G3-Gift-4.png" class="clickable-image" data-image="./gba/rsefrlg/images/gift/G3-Gift-4.png">tool used</a>, with all the relevant information on display, including RNG Seeds, PID, and result output.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-gift-4-gba-lua">
            Your Showdown! Username <a href="./gba/rsefrlg/images/gift/G3-Gift-5.png" class="clickable-image" data-image="./gba/rsefrlg/images/gift/G3-Gift-5.png">must be visible</a> somewhere in your proof link, so it is easy to identify the user that obtained the Pok&eacute;mon.
        </label><p></p>

        <details>
            <summary span class="fw-bold">Proof Examples:</summary>
            <a href="https://imgur.com/xyHv093">Gift RNG Example</a>
        </details>

        <hr />

        <span class="fw-bold">If you are using unassisted, retail hardware, or used automation to achieve a result, you must provide:</span><br />
        <p><small class="text-muted mb-3 mt-0"><span class="fw-bold">{% include common/sensitive-info-paragraph.html %}</span></small></p>

        <label>
            <input type="checkbox" id="checkbox-gift-1-gba-video">
            A consistent video starting from a successful redemption, then viewing the summary screens of the Pok&eacute;mon, enough to clearly display the OT/TID and stats. The video can start at any point before the end of gift redemption sequence.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-gift-2-gba-video">
            If your Pok&eacute;mon was achieved by RNG manipulation, include a screenshot of the <a href="./gba/rsefrlg/images/gift/G3-Gift-4.png" class="clickable-image" data-image="./gba/rsefrlg/images/gift/G3-Gift-4.png">tool used</a>, with all the relevant information on display, including RNG Seeds, PID, and result output.
        </label><p></p>

    </div>
</div>
<br />