<!-- This is the contents within our Navigation bar...-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">PS! Wi-Fi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="nav-home" class="nav-link" href="/">Home</a>
        </li>
        <li id="nav-rules" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="RulesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rules
          </a>
          <ul class="dropdown-menu" aria-labelledby="RulesDropdown">
            <li><a class="dropdown-item" href="/rules/room-rules">Room Rules</a></li>
            <li><a class="dropdown-item" href="/rules/trade-rules">Trading Rules</a></li>
            <li><a class="dropdown-item" href="/rules/giveaway-rules">Giveaway Rules</a></li>
          </ul>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="ProofDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Proof Guidelines
          </a>
          <ul class="dropdown-menu" aria-labelledby="ProofDropdown">
            <li><a class="dropdown-item" href="/proof-guidelines/switch">Switch</a></li>
            <li><a class="dropdown-item" href="/proof-guidelines/3ds">3DS</a></li>
            <li><a class="dropdown-item" href="/proof-guidelines/ds">DS</a></li>
            <li><a class="dropdown-item" href="/proof-guidelines/gba">GBA</a></li>
            <li><a class="dropdown-item" href="/proof-guidelines/gamecube">Gamecube</a></li>
            <li><a class="dropdown-item" href="/proof-guidelines/virtual-console">Virtual Console</a></li>
            <li><a class="dropdown-item" href="/proof-guidelines/go">GO</a></li>
            <li><a class="dropdown-item" href="/proof-guidelines/min-requirement">Does my Pok&eacute;mon need proof?</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="MiscDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Misc
          </a>
          <ul class="dropdown-menu" aria-labelledby="MiscDropdown">
            <li><a class="dropdown-item" href="/misc/events">Wi-Fi Events Overview</a></li>
            <li><a class="dropdown-item" href="/misc/cloning">Cloning information</a></li>
            <li><a class="dropdown-item" href="/misc/artists">Check out our talented artists!</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>