<script type="text/javascript">
  var url = window.location.pathname;
  var pathname = url.slice(1, url.indexOf("/", 1)).toLowerCase();
  var page = url.split("/")[2]?.toLowerCase();

  $(
    Array.prototype.filter.call(
      document.querySelectorAll("a"),
      (e) =>
        e.href.toLowerCase().includes(pathname + "/" + page) &&
        e.classList.contains("dropdown-item")
    )?.[0]
  )?.addClass("active");

  switch (pathname) {
    case "misc":
      $("#MiscDropdown").addClass("active").css("color", "#fff");
      break;

    case "events":
      $("#EventsDropdown").addClass("active").css("color", "#fff");
      break;

    case "proof-guidelines":
      $("#ProofDropdown").addClass("active").css("color", "#fff");
      break;

    case "rules":
      $("#RulesDropdown").addClass("active").css("color", "#fff");
      break;

    default:
      $("#nav-home").addClass("active").css("color", "#fff");
  }
  if (
    url.toLowerCase().endsWith(".git") ||
    url.toLowerCase().endsWith("/git")
  ) {
    window.location.replace("https://github.com/PSWiFi/PSWiFi.github.io");
  }
</script>
