<!--Content added here will apply to any SwSh selection.-->

{% include proof-accordion/top.html gen="8" %}

<p>
  When obtained in Sword/Shield, any Pok&eacute;mon that meet the conditions of
  this list requires proof when trading.
</p>

<h6 span class="fw-bold">
  Encounters &amp; Gifts with less than 3 guaranteed IVs
</h6>
<ul>
  <li>4 IV+ shiny Pok&eacute;mon</li>
  <li>5 IV+ non-shiny Pok&eacute;mon</li>
</ul>

<h6 span class="fw-bold">
  Encounters &amp; Gifts with more than 3 guaranteed IVs
</h6>
<ul>
  <li>5 IV+ shiny Pok&eacute;mon</li>
  <li>6 IV or flawless non-shiny Pok&eacute;mon</li>
</ul>

<h6 span class="fw-bold">Max Raid Encounters</h6>
<ul>
  <li>6 IV shiny Pok&eacute;mon</li>
  <li>6 IV non-shiny Pok&eacute;mon</li>
</ul>

<h6 span class="fw-bold">Mystery Gifts</h6>
<ul>
  <li>
    4 IV+ Pok&eacute;mon from distributions with less than 3 guaranteed IVs
</li>
  <li>
    6 IV Pok&eacute;mon from distributions with more than 3 guaranteed IVs
  </li>
</ul>

<h6 span class="fw-bold">Other/Misc</h6>
<ul>
  <li>
    Shiny Pok&eacute;mon that qualify for the Jumbo or Teensy mark when transferred to Scarlet/Violet
  </li>
</ul>

{% include proof-accordion/bottom.html %}