<script>
  var tooltipTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="tooltip"]')
  );
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });

  var links = document.querySelectorAll("a");
  var url = window.location.origin;
  Array.prototype.forEach.call(links, (link) => {
    if (!link.href.startsWith("{{ site.url }}") && !link.href.startsWith(url)) {
      link.rel = "external";
      link.target = "_blank";
      link.title = "Opens in new tab";

      var icon = document.createElement("i");
      icon.style = "font-size:0.7rem; padding-left:0.3rem";

      var blue = parseInt(link.style.backgroundColor.split(",")[2]);

      var textColorClass = (!isNaN(blue) && blue >= 0xa0 || link.className.includes("prize-shop-blue"))
        ? "text-light"
        : "text-secondary";

      icon.classList.add("bi", "bi-box-arrow-up-right", textColorClass);

      link.appendChild(icon);
    }
  });
</script>
