
<!-- Image pop up html -->
<div id="image-popup" class="popup">
    <span class="popup-close">&times;</span>
    <img id="popup-image" class="popup-image" src="" alt="Image not available">
</div>

<script>
  var tooltipTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="tooltip"]')
  );
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });

  var links = document.querySelectorAll("a");
  var url = window.location.origin;
  Array.prototype.forEach.call(links, (link) => {
    if (link.href && !link.href.startsWith("{{ site.url }}") && !link.href.startsWith(url)) {
      link.rel = "external";
      link.target = "_blank";
      link.title = "Opens in new tab";

      var icon = document.createElement("i");
      icon.style = "font-size:0.7rem; padding-left:0.3rem";

      var blue = parseInt(link.style.backgroundColor.split(",")[2]);

      var textColorClass = (!isNaN(blue) && blue >= 0xa0 || link.className.includes("prize-shop-blue"))
        ? "icon-light"
        : "text-secondary";

      icon.classList.add("bi", "bi-box-arrow-up-right", textColorClass);

      link.appendChild(icon);
    }
  });

$(document).ready(() => {
  // Get all the image links
  const imageLinks = document.querySelectorAll(".clickable-image");

  // Get the modal elements
  const popup = document.getElementById("image-popup");
  const popupImage = document.getElementById("popup-image");
  const closePopupElement = document.querySelector(".popup-close");

  // Add click event listeners to each image link
  imageLinks.forEach((link) => {
    link.addEventListener("click", (event) => {
      event.preventDefault(); // Prevent default link behavior

      const imageSrc = link.getAttribute("data-image"); // Get image URL from data attribute
      popupImage.src = imageSrc; // Set the popup image source
      popup.style.display = "flex"; // Show the popup modal
    });
  });

  // Add event listener to close button
  if (closePopupElement) {
    closePopupElement.addEventListener("click", () => {
      closePopup();
    });
  }

  // Close the popup when clicking outside the image
  if (popup) {
    popup.addEventListener("click", (event) => {
      if (event.target === popup) {
        closePopup();
      }
    });
  }

  $(document).keydown(e => {
    if (e.keyCode === 27) { // esc
      closePopup();
  } });

  function closePopup() {
    if (popup) {
      popup.style.display = "none";
      popupImage.src = "";
    }
  }
});
</script>
