---
layout: default
title: Switch Proof Guidelines
permalink: /proof-guidelines/switch/sidegames
---

<div class="title" style="background-color: #6d2280;">
  <h1 class="text-light text-center pt-3 pb-3"><img src="/images/icons/consoleicon/Switch.png" class="rounded float" style="width:55px;height:55px;"> Switch Side-Game Guidelines <img src="/images/icons/consoleicon/Switch.png" class="rounded float"
      style="width:55px;height:55px;"></h1>
</div><hr />

<p>This page contains information and examples for how to create proof for your Pok&eacute;mon in <span class="fw-bold">Brilliant Diamond/Shining Pearl, Let's Go Pikachu/Eevee &amp; Legends: Arceus</span> to an acceptable standard for general trading in PS! Wi-Fi. 
  Proofing instructions for any Switch game not listed on this page can be found by clicking the button below.</p>

  <div class="card border-dark">
    <div class="card-header" style="background-color: #009443;" id="important-information-switch">
      <span class="fw-bold text-light">Important Information:</span>
    </div>
    <div class="card-body card-bg">
      <h5 class="fw-bold" id="proofing-tips-switch">Proofing Tips:</h5>
      <p>In most cases, video proof is required for Pok&eacute;mon obtained in Switch games. For this reason it is important to gain a good understanding of how Switch video capture works before attempting to prove a Pok&eacute;mon to avoid creating a proof album that is invalid.</p>
  
      <p>Holding down the <code class="fw-bold">Screenshot</code> button for 1-2 seconds will record the previous 30 seconds of gameplay footage. This will be saved to the console SD card if there is one present. This means you should hold the <code class="fw-bold">Screenshot</code> button after viewing the summary pages of your Pok&eacute;mon to capture the correct 30 seconds of gameplay.</p>
  
      <p>Also make sure to check out the <a href="/proof-guidelines/min-requirement/#untradable-pokemon">list of untradable Pok&eacute;mon</a> to ensure that your Pok&eacute;mon can be traded inside the Wi-Fi room to begin with.</p>
      <hr />
      <h5 class="fw-bold" id="iv-judge-switch">IV Judge:</h5>
  
      <p>We advise unlocking the IV judge function before attempting to prove a Pok&eacute;mon, this is the strongest and most effective method of proving the IVs in-game.</p> 
       <ol>
        <li>In Brilliant Diamond/Shining Pearl, the judge function is unlocked after speaking to an NPC at the Battle Tower.</li>
        <li>In Let's Go, the judge function is unlocked after obtaining 30 species on the Pok&eacute;dex, then talking to the professors assistant near Vermillion city.</li>
        <li>In Legends: Arceus, the judge function does not exist. An IV value of 31 is represented by an effort level value of 3 after initial capture.</li>
       </ol>
  
       <details>
        <p>
          <summary><span class="fw-bold">IV Judge Alternatives:</span></summary>
        </p>
          <span class="fw-bold">CFW Alternatives:</span>
          <ul>
            <li>3rd party reader applications.</li>
            <small>Examples Include: Encounter bots, Overlay outputs.</small>
          </ul>
          
          <span class="fw-bold">Vanilla Alternatives:</span>
          <ul>
            <li>Showdown! Teambuilder output.</li>
            <li>Online IV calculator.</li>
            <small>When using either of these methods the IVs must be exact values or the proof will be considered invalid. Leveling your Pok&eacute;mon to 100 using candies will provide the exact IV values.</small>
          </ul>
      </details>
    </div>
  </div><br />

<a type="button" class="list-group-item list-group-item-primary text-end" style="border-radius: 0.25rem;" href="/proof-guidelines/switch/">
  Click here for a tutorial on proofing in Switch main series titles! <span class="fw-bold">(SwSh | ScVi)</span>
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
  </svg>
</a>

<hr /><div class="title" style="background-color: #6d2280;">
  <h1 class="text-light text-center pt-3 pb-3">Overall Proof Requirement</h1>
</div><hr />

<p>Pok&eacute;mon that meet the description of anything listed inside each of the boxes below require proof to trade inside the PS! Wi-Fi room, no exceptions.</p>

<div class="card border-dark">
  <div class="card-header" style="background-color: #7a298f;" id="do-i-need-proof-switch-spinoffs">
    <span class="fw-bold text-light">All Side Games (BDSP | LGPE | PLA):</span>
  </div>
  <div class="card-body card-bg">

    <p><span class="fw-bold">Obtained from Wild/Static/Chaining/Outbreaks:</span></p>
    <u>Encounters with 0 guaranteed IVs</u>
    <ul>
      <li>3 IV+ shiny Pok&eacute;mon</li>
      <li>4 IV+ non-shiny Pok&eacute;mon</li>
      <li>Shiny Pok&eacute;mon from 1% chance Wild encounters.</li>
      <li>Wild shiny Legendary birds from overworld-based encounters in LGPE</li>
      <li>Flawless Legendary and Mythical Pok&eacute;mon obtained in Legends: Arceus.</li>
      <li>RNG abused Pok&eacute;mon that quailfy for the Jumbo/Teensy mark in Scarlet/Violet.</li>
    </ul>

    <u>Encounters with 3+ guaranteed IVs</u>
    <ul>
      <li>5 IV+ shiny Pok&eacute;mon</li>
      <li>6 IV non-shiny Pok&eacute;mon</li>
    </ul>

    <small>RNG abused Pok&eacute;mon that qualify for Jumbo/Teensy mark require proof regardless of the amount of guaranteed IVs.</small>
    <hr />

    <p><span class="fw-bold">Obtained from event distributions:</span></p>
    <u>Distributions with 0 guaranteed IVs</u>
    <ul>
      <li>4 IV+ non-shiny/shiny Pok&eacute;mon</li>
      <li>Flawless Shiny & Non-Shiny Pok&eacute;mon</li>
    </ul>

    <u>Distributions with 3 guaranteed IVs</u>
    <ul>
      <li>6 IV non-shiny/shiny Pok&eacute;mon</li>
      <li>Flawless Shiny & Non-Shiny Pok&eacute;mon</li>
    </ul>

    <small>Evemt Distributions with fixed IV/Nature values, such as the VGC player events do not need proof.</small>
  </div>
</div><br />

<hr /><div class="title" style="background-color: #6d2280;">
  <h1 class="text-light text-center pt-3 pb-3"><img src="/images/icons/home/gameicon/BrilliantDiamond.png" class="rounded float" style="width:55px;height:55px;"> BDSP Proofing <img src="/images/icons/home/gameicon/ShiningPearl.png"
      class="rounded float" style="width:55px;height:55px;">
</div><hr />

<p>This section covers how to create proof for Pok&eacute;mon obtained in <span class="fw-bold">Brilliant Diamond/Shining Pearl</span>. In all cases, your PS! Username <u>must</u> be visible somewhere within your proof link so that we can easily verify exactly where the Pok&eacute;mon has come from.</p>

<div class="card border-dark">
  <div class="card-header" style="background-color: #7a298f;" id="bdsp-encounters-gifts">
    <span class="fw-bold text-light">All Encounter Types:</span>
  </div>
  <div class="card-body card-bg">
    <p><span class="fw-bold">For VIDEO proofing you must provide:</span></p>
    <ul>
      <li>A consistent video of a successful capture or redemption leading into in-box IV evaluation and summary screens, enough to clearly show OT/TID and nature of the Pok&eacute;mon you caught.</li><p></p>
      <li>For Pok&eacute;Radar chains, you must provide an additional screenshot of the chain length as displayed on the Pok&eacute;tch app.</li><p></p>
      <li>If your Pok&eacute;mon was achieved by RNG abuse or botting, you must provide an additional screenshot of the result/output, {% include common/sensitive-info-paragraph.html %}.</li><p></p>
      <li>Your Pok&eacute;mon must be clearly identifiable with no ambiguity whatsoever. It is advised to clear a space in your party or send your Pok&eacute;mon to an empty box to avoid ambiguity.</li>
    </ul>

    <div class="alert" style="background-color: #c0bdbd;">
      <p><span class="fw-bold">All encounters -</span> The video should start before the battle has ended (i.e the <code class="fw-bold">Pok&eacute;mon was caught!</code> screen or similar).</p>
      <span class="fw-bold">Gift redemptions -</span> The video should clearly show a successful redemption (i.e the <code class="fw-bold">You recieved a Pok&eacute;mon!</code> screen or similar).
    </div>

    <details>
      <summary><span class="fw-bold">Video Examples:</span></summary>
      <ul>
        <li><a href="https://imgur.com/a/YRHRVHQ">Static</a></li>
        <li><a href="https://imgur.com/a/ZSysbWe">Wild</a></li>
        <li><a href="https://imgur.com/a/6mdRUJR">Gift</a></li>
        <li><a href="https://imgur.com/a/HGFjRzC">Pok&eacute;Radar Shiny</a></li>
      </ul>
    </details>
    <hr />

    <p><span class="fw-bold">For CFW IMAGE proofing you must provide:</span></p>
    <ul>
      <li><span class="fw-bold">For Wild encounters - </span> Provide an in-battle screenshot with the {% include tooltips/overlays.html %} page open, clearly displaying the IVs, EC and PID of the Pok&eacute;mon.</li><p></p>
      <li><span class="fw-bold">For Gift redemptions - </span> Provide a screenshot of the Pok&eacute;dex popup with the {% include tooltips/overlays.html %} page open, clearly displaying the IVs, EC and PID of the Pok&eacute;mon.</li><p></p>
      <li><span class="fw-bold">In any case - </span> Provide a screenshot of the OT/TID summary page with the {% include tooltips/overlays.html %} page open showing the same information.</li><p></p>
      <li>For Pok&eacute;Radar chains, you must provide an additional screenshot of the chain length as displayed on the Pok&eacute;tch app.</li><p></p>
      <li>If the result was achieved by RNG abuse or botting, you must provide an additional screenshot of the tool output (e.g PokeFinder/Sysbot). {% include common/sensitive-info-paragraph.html %}</li>
    </ul>

    <details>
      <summary><span class="fw-bold">Image Examples:</span></summary>
      <ul>
        <li><a href="https://imgur.com/a/9662VwD">Static/Gift</a></li>
        <li><a href="https://imgur.com/a/HGFjRzC">Pok&eacute;Radar Shiny</a></li>
      </ul>
    </details>
  </div>
</div><br />

<div class="card border-dark">
  <div class="card-header" style="background-color: #7a298f;" id="bdsp-mystery-gift-redemptions">
    <span class="fw-bold text-light">Mystery Gift Redemptions:</span>
  </div>
  <div class="card-body card-bg">
    <p><span class="fw-bold">You must provide:</span></p>
    <ul>
      <li>A consistent video of a successful redemption showing a valid code has been used, leading into in-box IV evaluation, enough to clearly show IVs/Nature.</li><p></p>
      <li>Alternatively, you can provide a picture of the redemption screen showing a valid code has been used, along with a picture clearly displaying the IVs/Nature of the redeemed Pok&eacute;mon.</li><p></p>
      <li>If CFW {% include tooltips/overlays.html %} were used to achieve a result, you must provide a screenshot of the redemption screen with the overlay output visible. {% include common/sensitive-info-paragraph.html %}</li><p></p>
      <li>In any case, if the Pok&eacute;mon takes the OT/TID of the player, you must provide a picture of your trainer card & summary screen of the Pok&eacute;mon to prove that the trainer information is a match.</li><p></p>
      <li>For the BDSP Manaphy egg specifically, you must provide an uncut video of the egg hatching, leading into IV judge evaluation and showing the summary pages. (It's possible to save before hatching the egg!)</li><p></p>
      <li>If the result was achieved by RNG abuse or botting, you must provide an additional screenshot of the tool output (e.g PokeFinder/Sysbot). {% include common/sensitive-info-paragraph.html %}</li><p></p>
    </ul>

    <div class="alert" style="background-color: #c0bdbd;">
      <p>Your PS! Username must be present regardless of the method used, if you are using a series of images, a paper slip must be on display with your PS! Username written on it. This means you will need to use an external camera.</p>
      If you use the video proofing or CFW overlays, you may use watermarks instead of a paper slip to display your PS! Username.
    </div>

    <details>
      <summary><span class="fw-bold">Examples:</span></summary>
      <ul>
        <li><a href="https://imgur.com/a/qdWFX2y">Mystery Gift (Video)</a></li>
        <li><a href="https://imgur.com/a/f2ru3dV">Mystery Gift (Image)</a></li>
        <li><a href="https://imgur.com/a/H0luuiA">Mystery Gift (Overlay)</a></li>
      </ul>
    </details>
  </div>
</div><br />

<hr /><div class="title" style="background-color: #6d2280;">
  <h1 class="text-light text-center pt-3 pb-3"><img src="/images/icons/home/gameicon/LetsGoPikachu.png" class="rounded float" style="width:55px;height:55px;"> LGPE Proofing <img src="/images/icons/home/gameicon/LetsGoEevee.png" class="rounded float"
      style="width:55px;height:55px;">
</div><hr />

<p>This section of the page covers how to create proof for Pok&eacute;mon obtained in <span class="fw-bold">Let's Go! Pikachu/Eevee</span>. In all cases, your PS! Username <u>must</u> be visible somewhere within your proof link so that we can easily verify exactly where the Pok&eacute;mon has come from.</p>

<div class="card border-dark">
  <div class="card-header" style="background-color: #7a298f;" id="lgpe-encounters-gifts">
    <span class="fw-bold text-light">All Encounter Types:</span>
  </div>
  <div class="card-body card-bg">
    <p><span class="fw-bold">You must provide:</span></p>
    <ul>
      <li>A consistent video of a successful capture leading into in-box IV evaluation and summary screens, enough to clearly show OT/TID and nature.</li><p></p>
      <li>Your Pok&eacute;mon must be clearly identifiable with no ambiguity whatsoever. It is advised to clear a space in your party or send your Pok&eacute;mon to an empty box to avoid ambiguity.</li><p></p>
      <li>For <span class="fw-bold">Overworld Legendary Birds</span>, you must provide an additional video of the initial encounter clearly showing a shiny bird in the overworld.</li><p></p>
      <li>If the result was achieved by botting, provide an additional screenshot of the tool output. {% include common/sensitive-info-paragraph.html %}</li>
    </ul>

    <div class="alert" style="background-color: #c0bdbd;">
      <p><span class="fw-bold">Overworld/Legendary encounters -</span> The video should start before the battle has ended (i.e the <code class="fw-bold">Pok&eacute;mon was caught!</code> screen or similar).</p>
      <span class="fw-bold">Gift redemptions -</span> The video should clearly show a successful redemption (i.e the <code class="fw-bold">You recieved a Pok&eacute;mon!</code> screen or similar).
    </div>

    <details>
      <summary><span class="fw-bold">Examples:</span></summary>
      <ul>
        <li><a href="https://imgur.com/a/nhBb1M1">Overworld/Wild/Legendary</a></li>
        <li><a href="https://imgur.com/a/6jpdZZj">Overworld Legendary Bird</a></li>
      </ul>
    </details>
  </div>
</div><br />

<div class="card border-dark">
  <div class="card-header" style="background-color: #7a298f;" id="lgpe-mystery-gift-redemptions">
    <span class="fw-bold text-light">Mystery Gift Redemptions:</span>
  </div>
  <div class="card-body card-bg">
    <p><span class="fw-bold">You must provide:</span></p>
    <ul>
      <li>A consistent video of a successful redemption showing a valid code has been used, leading into in-box IV evaluation, enough to clearly show IVs/Nature.</li><p></p>
      <li>Alternatively, you can provide a picture of the redemption screen showing a valid code has been used, along with a picture clearly displaying the IVs/Nature of the redeemed Pok&eacute;mon.</li><p></p>
      <li>In both cases, if the Pok&eacute;mon takes the OT/TID of the player, you must provide a picture of your trainer card & summary screen of the Pok&eacute;mon to prove that the trainer information is a match.</li><p></p>
      <li>Your Pok&eacute;mon must be clearly identifiable with no ambiguity whatsoever. It is advised to clear a space in your party or send your Pok&eacute;mon to an empty box to avoid ambiguity.</li>
    </ul>

    <div class="alert" style="background-color: #c0bdbd;">
      <p>Your PS! Username must be present regardless of the method used, if you are using a series of images, a paper slip must be on display with your PS! Username written on it. This means you will need to use an external camera.</p>
      If you use the video proofing method you may use watermarks instead of a paper slip to display your PS! Username.
    </div>

    <details>
      <summary><span class="fw-bold">Examples:</span></summary>
      <ul>
        <li><a href="https://imgur.com/a/qdWFX2y">Mystery Gift (Video)</a></li>
        <li><a href="https://imgur.com/a/f2ru3dV">Mystery Gift (Image)</a></li>
      </ul>
    </details>
  </div>
</div><br />

<hr /><div class="title" style="background-color: #6d2280;" >
  <h1 class="text-light text-center pt-3 pb-3"><img src="/images/icons/home/gameicon/LegendsArceus.png" class="rounded float" style="width:55px;height:55px;"> Legends: Arceus Proofing <img src="/images/icons/home/gameicon/LegendsArceus.png"
      class="rounded float" style="width:55px;height:55px;">
</div><hr />

<p>This section of the page covers how to create proof for Pok&eacute;mon obtained in <span class="fw-bold">Legends: Arceus</span>. In all cases, your PS! Username <u>must</u> be visible somewhere within your proof link so that we can easily verify exactly where the Pok&eacute;mon has come from.</p>

<div class="card border-dark">
  <div class="card-header" style="background-color: #7a298f;" id="pla-encounters-overworld-gifts">
    <span class="fw-bold text-light">All Encounter Types:</span>
  </div>
  <div class="card-body card-bg">
    <p><span class="fw-bold">You must provide:</span></p>
    <ul>
      <li>A consistent video of a successful capture leading into in-box summary screens, enough to clearly show OT/TID, nature & effort level values.</li><p></p>
      <li>Your Pok&eacute;mon must be clearly identifiable with no ambiguity whatsoever. It is advised to clear a space in your party because of the lack of a remote box system.</li><p></p>
      <li>If the result was achieved by RNG abuse or botting, you must provide an additional screenshot of the tool output. {% include common/sensitive-info-paragraph.html %}</li>
    </ul>

    <div class="alert" style="background-color: #c0bdbd;">
      <p><span class="fw-bold">Overworld/Legendary encounters -</span> The video should start before the battle has ended (i.e the <code class="fw-bold">Pok&eacute;mon was caught!</code> screen or capture pop-up).</p>
      <p><span class="fw-bold">Legendary encounters with cutscene -</span> The video should start at any point during the cutscene and should capture all of the appropriate information.</p>
      <span class="fw-bold">Gift redemptions -</span> The video should clearly show a successful redemption (i.e the <code class="fw-bold">You recieved a Pok&eacute;mon!</code> screen or similar).
    </div>

    <details>
      <summary><span class="fw-bold">Examples:</span></summary>
      <ul>
        <li><a href="https://imgur.com/a/1Xy1GAR">Wild Encounter</a></li>
        <li><a href="https://imgur.com/a/h0l4XIX">Mass Outbreak Shiny Encounter</a></li>
        <li><a href="https://imgur.com/a/sIpIRz7">Scripted/Legendary Encounters</a></li>
      </ul>
    </details>
  </div>
</div><br />

<div class="card border-dark">
  <div class="card-header" style="background-color: #7a298f;" id="pla-mystery-gift-redemptions">
    <span class="fw-bold text-light">Mystery Gift Redemptions:</span>
  </div>
  <div class="card-body card-bg">
    <p><span class="fw-bold">You must provide:</span></p>
    <ul>
      <li>A consistent video of a successful redemption showing a valid code has been used, leading into in-box IV evaluation, enough to clearly show IVs/Nature.</li><p></p>
      <li>Alternatively, you can provide a picture of the redemption screen showing a valid code has been used, along with a picture clearly displaying the IVs/Nature of the redeemed Pok&eacute;mon.</li><p></p>
      <li>In both cases, if the Pok&eacute;mon takes the OT/TID of the player, you must provide a picture of your trainer card & summary screen of the Pok&eacute;mon to prove that the trainer information is a match.</li><p></p>
      <li>Your Pok&eacute;mon must be clearly identifiable with no ambiguity whatsoever. It is advised to clear a space in your party or send your Pok&eacute;mon to an empty box to avoid ambiguity.</li>
    </ul>

    <div class="alert" style="background-color: #c0bdbd;">
      <p>Your PS! Username must be present regardless of the method used, if you are using a series of images, a paper slip must be on display with your PS! Username written on it. This means you will need to use an external camera.</p>
      If you use the video proofing method you may use watermarks instead of a paper slip to display your PS! Username.
    </div>

    <details>
      <summary><span class="fw-bold">Examples:</span></summary>
      <ul>
        <li><a href="https://imgur.com/a/qdWFX2y">Mystery Gift (Video)</a></li>
        <li><a href="https://imgur.com/a/f2ru3dV">Mystery Gift (Image)</a></li>
      </ul>
    </details>
  </div>
</div><br />

<a type="button" class="list-group-item list-group-item-primary text-end" style="border-radius: 0.25rem;" href="/proof-guidelines/min-requirement">
  I'm done reading this! Send me back to the <span class="fw-bold">main page!</span>
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
  </svg>
</a>
