<!--Add anything specific to SwSh Raid/Dynamax Adventure encounters here.-->

<h5 span class="fw-bold">Proof Checklist:</h5>

<p>Use the below checklist to ensure that your Proof is complete. Unless otherwise stated, everything in the checklist is required.</p>

<div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center fw-bold text-light" style="background-color: #7a298f;" id="swsh-raids-da">
        <img src="/images/icons/home/gameicon/Sword.png" class="rounded" style="width:25px;height:25px;">
        <span class="text-center flex-grow-1">Sword/Shield - Max Raids &amp; Dynamax Adventures</span>
        <img src="/images/icons/home/gameicon/Shield.png" class="rounded" style="width:25px;height:25px;">
    </div>
    <div class="card-body card-bg">
        <label>
            <input type="checkbox" id="checkbox-max-raid-da-1-swsh">
            A consistent video of a successful capture leading into the in-box <a href="./switch/swsh/images/raids/G8-IV-Judge.png" class="image-link" data-image="./switch/swsh/images/raids/G8-IV-Judge.png">IV evaluation</a> and <a href="./switch/swsh/images/raids/G8-Summary-OT.png" class="image-link" data-image="./switch/swsh/images/raids/G8-Summary-OT.png">summary screens</a>, enough to clearly show OT/TID and nature. The video can start at any point on, or before the raid reward screen.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-max-raid-da-2-swsh">
            Your Pok&eacute;mon must be clearly identifiable with <a href="./switch/swsh/images/raids/G8-No-Duplicate-Mons.png" class="image-link" data-image="./switch/swsh/images/raids/G8-No-Duplicate-Mons.png">no ambiguity whatsoever</a>. It is advised to clear a space in your party or send your Pok&eacute;mon to an empty box to avoid ambiguity.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-max-raid-da-3-swsh">
            If your Pok&eacute;mon was achieved by RNG manipulation, include a screenshot of the <a href="./switch/swsh/images/raids/G8-RNG-Manipulation-Raid.png" class="image-link" data-image="./switch/swsh/images/raids/G8-RNG-Manipulation-Raid.png">tool used to predict the result</a>. {% include common/sensitive-info-paragraph.html %}
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-max-raid-da-4-swsh">
            Your Showdown! Username <a href="./switch/swsh/images/raids/G8-Username.png" class="image-link" data-image="./switch/swsh/images/raids/G8-Username.png">must be visible</a> somewhere in your proof link, so it is easy to identify the user that obtained the Pok&eacute;mon.
        </label><p></p>


        <details>
            <summary span class="fw-bold">Proof Examples:</summary>
            <a href="https://imgur.com/a/2zT29ex">Max Raid Example</a><br />
            <a href="https://imgur.com/a/4wjfS6s">Dynamax Adventure</a>
        </details>

    </div>
</div>
<br />

{% include proof-tips/switch.html %}