<!--Add anything specific to USUM Wild/Static encounters here.-->

<h5 span class="fw-bold">Proof Checklist:</h5>

<p>Use the below checklist to ensure that your proof is complete. Unless otherwise stated, everything in the checklist is required.</p>

<div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center fw-bold text-light" style="background-color: #7a298f;" id="3ds-gen7-wild">
        <img src="/images/icons/consoleicon/3DS.png" class="rounded" style="width:25px;height:25px;">
        <span class="text-center flex-grow-1">3DS (Gen 7) - Wild/Static Encounters</span>
        <img src="/images/icons/consoleicon/3DS.png" class="rounded" style="width:25px;height:25px;">
    </div>
    <div class="card-body card-bg">
        <span class="fw-bold">If you are using {% include tooltips/overlays.html %} for RNG manipulation, you must provide:</span><br />
        <p><small class="text-muted mb-3 mt-0"><span class="fw-bold">{% include common/sensitive-info-paragraph-3ds.html %}</span></small></p>

        <label>
            <input type="checkbox" id="checkbox-encounter-1-3ds-overlay">
            A <a href="./3ds/usum/images/wild/G7-before-target-visible-overlays.png" class="image-link" data-image="./3ds/usum/images/wild/G7-before-target-visible-overlays.png">screenshot</a> displaying that you have hit your target frame (i.e. The last text box for wild/static encounters, or the screen of generation for roaming encounters), with the overlay on display, clearly showing the seed and frame count where possible.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-encounter-2-3ds-overlay">
            A <a href="./3ds/usum/images/wild/G7-encounter-initiated.png" class="image-link" data-image="./3ds/usum/images/wild/G7-encounter-initiated.png">screenshot</a> after the encounter has been initiated, with the overlay on screen, clearly displaying the internal details of the Pok&eacute;mon (IVs/Nature/PID etc.).
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-encounter-3-3ds-overlay">
            A <a href="./3ds/usum/images/wild/G7-stats-and-trainer-card.png" class="image-link" data-image="./3ds/usum/images/wild/G7-stats-and-trainer-card.png">screenshot</a> of the Pok&eacute;mon Summary displaying both the stats and OT/TID of the Pok&eacute;mon that was obtained (preferred) or your Trainer Passport (acceptable).
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-encounter-4-3ds-overlay">
            If your Pok&eacute;mon was achieved by RNG manipulation, include a screenshot of the <a href="./3ds/usum/images/wild/G7-RNG-tool-config.png" class="image-link" data-image="./3ds/usum/images/wild/G7-RNG-tool-config.png">tool used</a>, with all the relevant information on display, including RNG Seeds, PID, and result output.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-encounter-5-3ds-overlay">
            If 3DSTimeFinder was used to manipulate the initial seed, include a <a href="./3ds/usum/images/wild/G7-RNG-init-seed.png" class="image-link" data-image="./3ds/usum/images/wild/G7-RNG-init-seed.png">screenshot</a> with all the relevant information on display, including Frame, Seed, Time, and Date.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-encounter-5-3ds-overlay">
            Your Showdown! Username <a href="./3ds/usum/images/wild/G7-showdown-username.png" class="image-link" data-image="./3ds/usum/images/wild/G7-showdown-username.png">must be visible</a> somewhere in your proof link, so it is easy to identify the user that obtained the Pok&eacute;mon.
        </label><p></p>

        <details>
             <summary span class="fw-bold">Proof Examples:</summary>
             <a href="https://imgur.com/rdNspz0">Wild RNG Example (with TimeFinder)</a><br />
             <a href="https://imgur.com/FzUDBGN">Static RNG Example</a><br />
             <a href="https://imgur.com/ysUBzr7">Static RNG Example (with TimeFinder)</a>
        </details>

        <hr />

        <span class="fw-bold">If you are using unassisted, retail hardware, you must provide:</span><br />
        <p><small class="text-muted mb-3 mt-0"><span class="fw-bold">{% include common/sensitive-info-paragraph-3ds.html %}</span></small></p>

        <label>
            <input type="checkbox" id="checkbox-encounter-1-ds-video">
            A consistent video of a successful capture, then viewing the IV evaluation and summary screens of the Pok&eacute;mon that was captured. The video can start at any point before hitting your target frame.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-encounter-1-ds-video">
            If your Pok&eacute;mon was achieved by RNG manipulation, include a screenshot of the <a href="./3ds/usum/images/wild/G7-RNG-tool-config.png" class="image-link" data-image="./3ds/usum/images/wild/G7-RNG-tool-config.png">tool used</a>, with all the relevant information on display, including RNG Seeds, PID, and result output.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-encounter-3-3ds-overlay">
            A screenshot of your Trainer Passport that shows your OT/TID.
        </label><p></p>

    </div>
</div>
<br />

{% include proof-tips/3ds.html %}
