<!--Content added here will apply to any GO selection.-->
{% include proof-accordion/top.html gen="go" %}

<p>
    When obtained in Pok&eacute;mon GO, any Pok&eacute;mon that meet the conditions of
    this list requires proof when trading.
</p>

<h6 span class="fw-bold">
    From any type of encounter (wild/raid/research/etc.):
</h6>
<ul>
    <li>Shiny Mythical Pok&eacute;mon.</li>
    <li>5 IV+ Shiny Pok&eacute;mon.</li>
    <li>6 IV Legendary/Mythical Pok&eacute;mon.</li>
</ul>

<small>Meltan/Melmetal are included in the list of Mythical Pok&eacute;mon.</small>

{% include proof-accordion/bottom.html %}