<!--Add anything specific to Channel Jirachi here.-->

<h5 span class="fw-bold">Proof Checklist:</h5>

<p>Unless otherwise stated, everything listed in the checklist below is considered a requirement! Follow along with the checklist to ensure that your album is suitable for trading.</p>

<div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center fw-bold text-light" style="background-color: #7a298f;" id="channel-jirachi">
        <img src="/images/icons/consoleicon/GC.png" class="rounded" style="width:25px;height:25px;">
        <span class="text-center flex-grow-1">Channel Bonus - Jirachi</span>
        <img src="/images/icons/consoleicon/GC.png" class="rounded" style="width:25px;height:25px;">
    </div>
    <div class="card-body card-bg">
        <span class="fw-bold">If you are using Lua scripts for RNG manipulation, you must provide:</span><br />
        <p><small class="text-muted mb-3 mt-0"><span class="fw-bold">{% include common/sensitive-info-paragraph.html %}</span></small></p>

        <label>
            <input type="checkbox" id="checkbox-channel-jirachi-1">
            A screenshot of the Jirachi <a href="./gc/gcbd/images/channel/jirachi-figure-1.png" class="clickable-image" data-image="./gc/gcbd/images/channel/jirachi-figure-1.png">Are you ready?</a> screen, with the Lua script on display clearly showing your current seed.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-channel-jirachi-2">
            A screenshot of the <a href="./gc/gcbd/images/channel/jirachi-figure-2.png" class="clickable-image" data-image="./gc/gcbd/images/channel/jirachi-figure-2.png">summary screen on GBA</a>, displaying Jirachi's stats, with a Lua output visible, displaying the exact IVs (where possible).
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-channel-jirachi-3">
            If your Jirachi was achieved by RNG manipulation, include a screenshot of the <a href="./gc/gcbd/images/channel/jirachi-figure-3.png" class="clickable-image" data-image="./gc/gcbd/images/channel/jirachi-figure-3.png">tool used</a>, with all the relevant information on display, including RNG Seeds, PID, and result output.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-channel-jirachi-4">
            Your Showdown! Username <a href="./gc/gcbd/images/channel/jirachi-figure-4.png" class="clickable-image" data-image="./gc/gcbd/images/channel/jirachi-figure-4.png">must be visible</a> somewhere in your proof link, so it is easy to identify the user that obtained the Pok&eacute;mon.
        </label><p></p>

        <a href="https://raw.githubusercontent.com/PSWiFi/proof-1/refs/heads/main/Images/GCN/ExGCChannel.png">Channel Jirachi RNG Example</a>

        <hr />

        <span class="fw-bold">If you are using unassisted, retail hardware, you must provide:</span><br />
        <p><small class="text-muted mb-3 mt-0"><span class="fw-bold">{% include common/sensitive-info-paragraph.html %}</span></small></p>

        <label>
            <input type="checkbox" id="checkbox-channel-jirachi-video-1">
            A full uncut video containing the full Jirachi redemption, leading into the GBA party summary screens (or in-box if party unfeasible), clearly showing the Stats, Nature, Ability, and OT/TID. The video can start at any point before Celebi was redeemed.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-channel-jirachi-video-2">
            If your Jirachi was achieved by RNG manipulation, include a screenshot of the <a href="./gc/gcbd/images/channel/jirachi-figure-3.png" class="clickable-image" data-image="./gc/gcbd/images/channel/jirachi-figure-3.png">tool used</a>, with all the relevant information on display, including RNG Seeds, PID, and result output.
        </label><p></p>

    </div>
</div>
<br />