<!--Add anything specific to Colo/XD here.-->

<h5 span class="fw-bold">Proof Checklist:</h5>

<p>Unless otherwise stated, everything listed in the checklist below is considered a requirement! Follow along with the checklist to ensure that your album is suitable for trading.</p>

<div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center fw-bold text-light" style="background-color: #7a298f;" id="ageto-celebi">
        <img src="/images/icons/consoleicon/GC.png" class="rounded" style="width:25px;height:25px;">
        <span class="text-center flex-grow-1">Colosseum/XD - All Snags/Encounters/Gifts</span>
        <img src="/images/icons/consoleicon/GC.png" class="rounded" style="width:25px;height:25px;">
    </div>
    <div class="card-body card-bg">
        <span class="fw-bold">If you are using Lua scripts for RNG manipulation, you must provide:</span><br />
        <p><small class="text-muted mb-3 mt-0"><span class="fw-bold">{% include common/sensitive-info-paragraph.html %}</span></small></p>

        <label>
            <input type="checkbox" id="checkbox-coloxd-1">
            A screenshot <a href="./gc/cxd/images/all/colo-1.png" class="image-link" data-image="./gc/cxd/images/all/colo-1.png">close to the target frame</a>, with the Lua script on display clearly showing your current seed/frame.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-coloxd-2">
            A screenshot <a href="./gc/cxd/images/all/colo-2.png" class="image-link" data-image="./gc/cxd/images/all/colo-2.png">during battle or immediately after gift redemption</a>, with the Lua script on display clearly showing the IVs and other internal details of the Pok&eacute;mon.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-coloxd-3">
            A screenshot of the <a href="./gc/cxd/images/all/colo-3.png" class="image-link" data-image="./gc/cxd/images/all/colo-3.png">summary screen displaying the OT/TID of the Pok&eacute;mon</a>, with the Lua script on display clearly showing that the Pok&eacute;mon matches the above screenshot.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-coloxd-4">
            If your Pok&eacute;mon was achieved by RNG manipulation, include a screenshot of the <a href="./gc/cxd/images/all/colo-4.png" class="image-link" data-image="./gc/cxd/images/all/colo-4.png">tool used to predict the result</a>, with all the relevant information on display, including Seeds, PID, and the result output.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-coloxd-5">
            Your Showdown! Username <a href="./gc/cxd/images/all/colo-5.png" class="image-link" data-image="./gc/cxd/images/all/colo-5.png">must be visible</a> somewhere in your proof link, so it is easy to identify the user that obtained the Pok&eacute;mon.
        </label><p></p>

        <details>
            <summary span class="fw-bold">Proof Examples</summary>
            <a href="https://imgur.com/a/ps-wi-fi-colosseum-proof-example-SZZJJOr">Colosseum RNG Example</a><br />
            <a href="https://imgur.com/a/ps-wi-fi-xd-proof-example-4b7PL8k">XD RNG Example</a>
        </details>

        <hr />

        <span class="fw-bold">If you are using unassisted, retail hardware, you must provide:</span><br />
        <p><small class="text-muted mb-3 mt-0"><span class="fw-bold">{% include common/sensitive-info-paragraph.html %}</span></small></p>

        <label>
            <input type="checkbox" id="checkbox-coloxd-encounter-video-1">
            A full uncut video containing the full capture or gift redemption, leading into the party summary screens (or in-box if party unfeasible), clearly showing the Stats, Nature, Ability, and OT/TID. The video can start at any point before the Pok&eacute;mon was caught or redeemed.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-coloxd-encounter-video-2">
            If your Pok&eacute;mon was achieved by RNG manipulation, include a screenshot of the <a href="./gc/cxd/images/all/colo-4.png" class="image-link" data-image="./gc/cxd/images/all/colo-4.png">tool used</a>, with all the relevant information on display, including RNG Seeds, PID &amp; result output.
        </label><p></p>

    </div>
</div>
<br />