---
layout: default
title: GameCube Proof Guidelines
permalink: /proof-guidelines/gamecube/
---

<div class="title" style="background-color: #6d2280;" id="GCguidelines">
  <h1 class="text-light text-center pt-3 pb-3"><img src="/images/icons/consoleicon/GC.png" class="rounded float" style="width:55px;height:55px;"> GameCube Proof Guidelines <img src="/images/icons/consoleicon/GC.png" class="rounded float"
      style="width:55px;height:55px;"></h1>
</div>
<hr />

This page contains information and examples for how to create proof for your Pok&eacute;mon in <span class="fw-bold">Colo/XD, Channel, and the Colosseum Bonus Discs</span> to an acceptable standard for general trading in PS! Wi-Fi. Only information
for the above mentioned games is provided on this page.<br /><br />

<div class="card border-dark">
  <div class="card-header" style="background-color: #7a298f;" id="GCOverall">
    <span class="fw-bold text-light">GameCube Overall Requirement:</span>
  </div>

  <div class="card-body card-bg">
    <p>Pok&eacute;mon obtained in the above mentioned GameCube titles that meet the description of anything listed directly below need proof to trade inside the PS! Wi-Fi room.</p>

    <p><span class="fw-bold">Pok&eacute;mon obtained from Trainer Battles or Gifts:</span></p>

    <ul>
      <li>3 IV+ shiny Pok&eacute;mon</li>
      <li>4 IV+ non-shiny Pok&eacute;mon</li>
    </ul>

    <p><span class="fw-bold">Other:</span></p>
    <ul>
      <li>Shiny Wishmaker Jirachi</li>
      <li>Shiny Channel Jirachi</li>
    </ul>
  </div>
</div><br />

<hr />
<div class="title" style="background-color: #6d2280;" id="gcguidelines">
  <h1 class="text-light text-center pt-3 pb-3"><img src="/images/icons/consoleicon/GC.png" class="rounded float" style="width:55px;height:55px;"> Colosseum &amp; XD Proofing <img src="/images/icons/consoleicon/GC.png" class="rounded float"
      style="width:55px;height:55px;">
</div>
<hr />
This section of the page covers how to create proof for Pok&eacute;mon obtained Colosseum/XD. In all cases, your <span class="fw-bold">PS! Username <u>must</u> be visible</span> somewhere within your proof link so that we can easily verify exactly where the Pok&eacute;mon has
come from.<br /> <br />

<div class="card border-dark">
  <div class="card-header" style="background-color: #7a298f;" id="gamecubeenc">
    <span class="fw-bold text-light">Trainer Battles &amp; Gift Encounters:</span>
  </div>
  <div class="card-body card-bg">
    <p><span class="fw-bold">If using Dolphin or a similar app with .lua/RAM Watch scripts you must provide:</span></p>
    <ul>
      <li>A screenshot of your trainer card with your current Seed on display, along with the RNG tool proving you're close to your target frame (Lua scripts and RAM watches are acceptable).</li><br />
      <li>A screenshot in-battle with your target (clearly showing PID if Lua scripts and RAM watches are used).</li><br />
      <li>A screenshot of your Pok&eacute;mon summary screen after purification (you may use a Lua script or alternative source to prove the IVs).</li><br />
      <li>A screenshot of the tool used to RNG abuse the Pok&eacute;mon. You must show your Seed and desired target frame along with any other specific configurations used.<br />{% include common/sensitive-info-paragraph.html %}</li><br />
    </ul>
    <hr />

    <p><span class="fw-bold">For soft resetting and retail RNG abuse you must provide:</span></p>
    <ul>
      <li>A full uncut video starting from a successful capture or redemption of your Pok&eacute;mon, leading into the in-box summary screens clearly showing the Stats, Nature, Ability, and OT/TID.</li><br />
      <li>A screenshot of the tool used to RNG abuse the Pok&eacute;mon. You must show your Seed and desired target frame along with any other specific configurations used.<br />{% include common/sensitive-info-paragraph.html %}</li><br />
    </ul>

    <details>
      <summary><span class="fw-bold">GameCube Proof Examples - Encounters</span></summary>
      <ul>
        <li><a href="https://imgur.com/a/SZZJJOr">Colosseum</a></li>
        <li><a href="https://imgur.com/a/4b7PL8k">XD Gale of Darkness</a></li>
      </ul>
    </details>
  </div>
</div><br />

<hr />
<div class="title" style="background-color: #6d2280;" id="bonusdiscguidelines">
  <h1 class="text-light text-center pt-3 pb-3"><img src="/images/icons/consoleicon/GC.png" class="rounded float" style="width:55px;height:55px;"> Bonus Disc Proofing <img src="/images/icons/consoleicon/GC.png" class="rounded float"
      style="width:55px;height:55px;">
</div>
<hr />
This section of the page covers how to create proof for Pok&eacute;mon obtained in GameCube Bonus Discs. In all cases, your <span class="fw-bold">PS! Username <u>must</u> be visible</span> somewhere within your proof link so that we can easily verify exactly where the
Pok&eacute;mon has come from.<br /> <br />

<div class="card border-dark">
  <div class="card-header" style="background-color: #7a298f;" id="bonusdiscs">
    <span class="fw-bold text-light">Obtained from bonus discs:</span>
  </div>
  <div class="card-body card-bg">
    <p><span class="fw-bold">For Ageto Celebi you must provide:</span></p>
    <ul>
      <li>A screenshot of the Celebi redemption screen with your current Seed on display, along with the RNG tool proving you are close to your target frame.</li><br />
      <li>A screenshot of the Celebi being redeemed and sent to a GBA from the Colosseum Bonus Disc with some identifying information (such as your PS! username) visible.</li><br />
      <li>A screenshot of your Celebi summary screens in a Gen 3 game, clearly showing stats and nature (you may use Lua scripts to prove the IVs).</li>
    </ul>
    <hr />

    <p><span class="fw-bold">For Wishmaker Jirachi you must provide:</span></p>
    <ul>
      <li>A screenshot of your current save time with the Wishmaker Jirachi .lua script visible on screen, displaying your Seed, delay and target time.</li><br />
      <li>A screenshot from a Seed searcher (such as Wishmaker-calc or XD Seed) clearly showing that you have a valid rschecksum.</li><br />
      <li>A screenshot of the Jirachi being redeemed and sent to a GBA from the Colosseum Bonus Disc with some identifying information (such as your PS! username) visible.</li><br />
      <li>A screenshot of your Jirachi summary screens in a Gen 3 game, clearly showing stats and nature (you may use Lua scripts to prove the IVs).</li>
    </ul>
    <hr />

    <p><span class="fw-bold">For Channel Jirachi you must provide:</span></p>
    <ul>
      <li>A screenshot of the Jirachi “Are you ready?” redemption screen clearly showing your current Seed.</li><br />
      <li>A screenshot of the RNG tool showing you are close to your target spread along with your current Seed, and target frame.</li><br />
      <li>A screenshot of the “You got Jirachi!” screen on GBA, clearly showing your RNG tool, desired Jirachi spread, and PS! username on screen.</li><br />
      <li>A screenshot of your Jirachi summary screens in a Gen 3 game, clearly showing stats and nature (you may use Lua scripts to prove the IVs).</li>
    </ul>

    <details>
      <summary><span class="fw-bold">GameCube Proof Examples - Bonus Discs</span></summary>
      <ul>
        <li><a href="https://imgur.com/a/F0BWWXW">Celebi Bonus Disc Example</a></li>
        <li><a href="https://imgur.com/a/3cnl1CF">Jirachi Bonus Disc Example</a></li>
        <li><a href="https://imgur.com/a/WZyZ16Q">Channel Jirachi Example</a></li>
      </ul>
    </details>
  </div>
</div><br />

<a type="button" class="list-group-item list-group-item-primary text-end" style="border-radius: 0.25rem;" href="/proof-guidelines/min-requirement">
  I'm done reading this! Send me back to the main page!
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
  </svg>
</a>
