<!--Add anything specific to USUM gift redemptions here.-->

<h5 span class="fw-bold">Proof Checklist:</h5>

<p>Use the below checklist to ensure that your Proof is complete. Unless otherwise stated, everything in the checklist is required.</p>

<div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center fw-bold text-light" style="background-color: #7a298f;" id="3ds-gen7-gift">
        <img src="/images/icons/consoleicon/3DS.png" class="rounded" style="width:25px;height:25px;">
        <span class="text-center flex-grow-1">3DS (Gen 7) - Redemptions</span>
        <img src="/images/icons/consoleicon/3DS.png" class="rounded" style="width:25px;height:25px;">
    </div>
    <div class="card-body card-bg">
        <span class="fw-bold">If you are using {% include tooltips/overlays.html %} for RNG manipulation, you must provide:</span><br />
        <p><small class="text-muted mb-3 mt-0"><span class="fw-bold">{% include common/sensitive-info-paragraph-3ds.html %}</span></small></p>

        <label>
            <input type="checkbox" id="checkbox-gift-1-3ds-overlay">
            A <a href="./3ds/usum/images/gift/G7-before-target-visible-overlays.png" class="image-link" data-image="./3ds/usum/images/gift/G7-before-target-visible-overlays.png">screenshot</a> displaying that you have hit your target frame (i.e the final text box before the Pok&eacute;mon is generated), with the overlay on display, clearly showing the seed and frame count where possible.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-gift-2-3ds-overlay">
            A <a href="./3ds/usum/images/gift/G7-gift-redeemed.png" class="image-link" data-image="./3ds/usum/images/gift/G7-gift-redeemed.png">screenshot</a> after the gift has been redeemed, with the overlay on screen, clearly displaying the internal details of the Pok&eacute;mon (IVs/Nature/PID etc.).
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-gift-3-3ds-overlay">
            For events that take the OT/TID of the player, a <a href="./3ds/usum/images/gift/G7-stats-and-trainer-card.png" class="image-link" data-image="./3ds/usum/images/gift/G7-stats-and-trainer-card.png">screenshot</a> of the Pok&eacute;mon Summary displaying the OT/TID (preferred) or your Trainer Passport (acceptable).
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-gift-4-3ds-overlay">
            If your Pok&eacute;mon was achieved by RNG manipulation, include a screenshot of the <a href="./3ds/usum/images/gift/G7-RNG-tool-config.png" class="image-link" data-image="./3ds/usum/images/gift/G7-RNG-tool-config.png">tool used</a>, with all the relevant information on display, including RNG Seeds, PID &amp; result output.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-gift-5-3ds-overlay">
            If 3DSTimeFinder was used to manipulate the initial seed, include a <a href="./3ds/usum/images/gift/G7-RNG-init-seed.png" class="image-link" data-image="./3ds/usum/images/gift/G7-RNG-init-seed.png">screenshot</a> with all the relevant information on display, including Frame, Seed, Time &amp; Date.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-gift-5-3ds-overlay">
            Your Showdown! Username <a href="./3ds/usum/images/gift/G7-showdown-username.png" class="image-link" data-image="./3ds/usum/images/gift/G7-showdown-username.png">must be visible</a> somewhere in your proof link, so it is easy to identify the user that obtained the Pok&eacute;mon.
        </label><p></p>

        <details>
            <summary span class="fw-bold">Proof Examples:</summary>
            <a href="https://imgur.com/9EIsgFU">In-Game Gift RNG Example</a><br />
            <a href="https://imgur.com/mNLzLI6">In-Game Gift RNG Example (with TimeFinder)</a><br />
            <a href="https://imgur.com/Iq6yc2m">Mystery Gift RNG Example</a>
        </details>

        <hr />

        <span class="fw-bold">If you are using unassisted, retail hardware, you must provide:</span><br />
        <p><small class="text-muted mb-3 mt-0"><span class="fw-bold">{% include common/sensitive-info-paragraph-3ds.html %}</span></small></p>

        <label>
            <input type="checkbox" id="checkbox-gift-1-3ds-video">
            A consistent video of a successful redemption, then viewing the IV evaluation and summary screens of the Pok&eacute;mon that was captured. The video can start at any point before hitting your target frame.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-gift-2-3ds-video">
            If your Pok&eacute;mon was achieved by RNG manipulation, include a screenshot of the <a href="./3ds/usum/images/gift/G7-RNG-tool-config.png" class="image-link" data-image="./3ds/usum/images/gift/G7-RNG-tool-config.png">tool used</a>, with all the relevant information on display, including RNG Seeds, PID &amp; result output.
        </label><p></p>

        <label>
            <input type="checkbox" id="checkbox-encounter-3-3ds-overlay">
            For events that take the OT/TID of the player, a screenshot of your Trainer Passport that shows your OT/TID.
        </label><p></p>

    </div>
</div>
<br />

{% include proof-tips/3ds.html %}
