<!--Content added here will apply to any GameCube Bonus Disc selection.-->
{% include proof-accordion/top.html gen="gcbd" %}

<p>
    When obtained in GameCube Bonus Discs, any Pok&eacute;mon that meet the conditions of
    this list requires proof when trading.
</p>

<h6 span class="fw-bold">
    All Bonus Discs:
</h6>
<ul>
    <li>Shiny Wishmaker Jirachi.</li>
    <li>Shiny Channel Jirachi.</li>
    <li>Any Channel Jirachi with 4 or more significant IVs.</li>
    <li>Any Ageto Celebi with 4 or more significant IVs.</li>
    <li>Any COLOS Pikachu with 4 or more significant IVs.</li>
</ul>

{% include proof-accordion/bottom.html %}