<!--Content added here will apply to any Gen 5 selection.-->
{% include proof-accordion/top.html gen="5" %}

<p>
    When obtained in Generation 5 games, any Pok&eacute;mon that meet the conditions
    of this list requires proof when trading.
</p>

<h6 span class="fw-bold">
    Encounters, Gifts, &amp; Eggs
</h6>
<ul>
    <li>4 IV+ shiny Pok&eacute;mon</li>
    <li>5 IV+ non-shiny Pok&eacute;mon</li>
</ul>

<h6 span class="fw-bold">
    Event Distributions
</h6>
<ul>
    <li>"Sometimes Shiny" shiny Pok&eacute;mon</li>
    <li>Shiny event Pok&eacute;mon from eggs</li>
    <li>Nicknamed event Pok&eacute;mon</li>
</ul>

{% include proof-accordion/bottom.html %}