---
layout: default
title: Proof Guidelines
permalink: /proof-guidelines/
---

<div class="title" style="background-color: #6d2280;">
    <h1 class="text-light text-center pt-3 pb-3">
        Proof Guidelines
    </h1>
</div>
<small class="text-muted mb-3 mt-0">A checklist for creating &amp; verifying a proof album in any game.</small>
<hr />

<p>Certain Pok&eacute;mon require proof before being traded. The requirements vary based on the game, and encounter method. You can check below if your Pok&eacute;mon needs proof, and what you need to include in your album.</p>

<p>Select a Console, Game, and Encounter Type below to view the requirements.</p>

    <div class="mb-3 w-100">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col col-md-4 mb-2">
                <label for="console-select"><span class="fw-bold">Choose Console:</span></label>
                <select id="console-select" class="form-select"></select>
            </div>
            <div class="col col-md-4 mb-2">
                <label for="game-select"><span class="fw-bold">Choose Game:</span></label>
                <select id="game-select" class="form-select"></select>
            </div>
            <div class="col col-md-4 mb-2">
                <label for="enc-select"><span class="fw-bold">Choose Encounter Type:</span></label>
                <select id="enc-select" class="form-select"></select>
            </div>
        </div>
    </div>

    <div class="enc enc-switch d-none">
        {% include_relative switch/common.html %}

        <div class="enc enc-9 d-none">
            {% include_relative switch/sv/index.html %}

            <div class="enc enc-wild d-none">
                {% include_relative switch/sv/wild/index.html %}
            </div>
            <div class="enc enc-gift d-none">
                {% include_relative switch/sv/gift/index.html %}
            </div>
            <div class="enc enc-raid d-none">
                {% include_relative switch/sv/raid/index.html %}
            </div>
            <div class="enc enc-untradable d-none">
                {% include_relative switch/sv/untradable/index.html %}
            </div>
        </div>
        <div class="enc enc-9a d-none">
            {% include_relative switch/z-a/index.html %}

            <div class="enc enc-encounters d-none">
                {% include_relative switch/z-a/encounters/index.html %}
            </div>
            <div class="enc enc-gift d-none">
                {% include_relative switch/z-a/gift/index.html %}
            </div>
            <div class="enc enc-untradable d-none">
                {% include_relative switch/z-a/untradable/index.html %}
            </div>
        </div>
        <div class="enc enc-8a d-none">
            {% include_relative switch/la/index.html %}

            <div class="enc enc-encounters d-none">
                {% include_relative switch/la/encounters/index.html %}
            </div>
            <div class="enc enc-gift d-none">
                {% include_relative switch/la/gift/index.html %}
            </div>
        </div>
        <div class="enc enc-8b d-none">
            {% include_relative switch/bdsp/index.html %}

            <div class="enc enc-wild d-none">
                {% include_relative switch/bdsp/wild/index.html %}
            </div>
            <div class="enc enc-gift d-none">
                {% include_relative switch/bdsp/gift/index.html %}
            </div>
            <div class="enc enc-pokeradar d-none">
                {% include_relative switch/bdsp/pokeradar/index.html %}
            </div>
            <div class="enc enc-untradable d-none">
                {% include_relative switch/bdsp/untradable/index.html %}
            </div>
        </div>
        <div class="enc enc-8 d-none">
            {% include_relative switch/swsh/index.html %}

            <div class="enc enc-wild d-none">
                {% include_relative switch/swsh/wild/index.html %}
            </div>
            <div class="enc enc-static d-none">
                {% include_relative switch/swsh/static/index.html %}
            </div>
            <div class="enc enc-gift d-none">
                {% include_relative switch/swsh/gift/index.html %}
            </div>
            <div class="enc enc-raid d-none">
                {% include_relative switch/swsh/raid/index.html %}
            </div>
            <div class="enc enc-untradable d-none">
                {% include_relative switch/swsh/untradable/index.html %}
            </div>
        </div>
        <div class="enc enc-7b d-none">
            {% include_relative switch/lgpe/index.html %}

            <div class="enc enc-all-encounter-types d-none">
                {% include_relative switch/lgpe/all/index.html %}
            </div>
            <div class="enc enc-gift d-none">
                {% include_relative switch/lgpe/gift/index.html %}
            </div>
        </div>
    </div>
    <div class="enc enc-3ds d-none">
        {% include_relative 3ds/common.html %}

        <div class="enc enc-7 d-none">
            {% include_relative 3ds/usum/index.html %}

            <div class="enc enc-wild d-none">
                {% include_relative 3ds/usum/wild/index.html %}
            </div>
            <div class="enc enc-gift d-none">
                {% include_relative 3ds/usum/gift/index.html %}
            </div>
            <div class="enc enc-untradable d-none">
                {% include_relative 3ds/usum/untradable/index.html %}
            </div>
        </div>
        <div class="enc enc-6 d-none">
            {% include_relative 3ds/xyoras/index.html %}

            <div class="enc enc-wild d-none">
                {% include_relative 3ds/xyoras/wild/index.html %}
            </div>
            <div class="enc enc-gift d-none">
                {% include_relative 3ds/xyoras/gift/index.html %}
            </div>
            <div class="enc enc-untradable d-none">
                {% include_relative 3ds/xyoras/untradable/index.html %}
            </div>
        </div>
    </div>
    <div class="enc enc-ds d-none">
        {% include_relative ds/common.html %}

        <div class="enc enc-5 d-none">
            {% include_relative ds/bw/index.html %}

            <div class="enc enc-wild d-none">
                {% include_relative ds/bw/wild/index.html %}
            </div>
            <div class="enc enc-gift d-none">
                {% include_relative ds/bw/gift/index.html %}
            </div>
            <div class="enc enc-egg d-none">
                {% include_relative ds/bw/egg/index.html %}
            </div>
        </div>
        <div class="enc enc-4 d-none">
            {% include_relative ds/dppthgss/index.html %}

            <div class="enc enc-wild d-none">
                {% include_relative ds/dppthgss/wild/index.html %}
            </div>
            <div class="enc enc-gift d-none">
                {% include_relative ds/dppthgss/gift/index.html %}
            </div>
            <div class="enc enc-egg d-none">
                {% include_relative ds/dppthgss/egg/index.html %}
            </div>
        </div>
    </div>
    <div class="enc enc-gba d-none">
        {% include_relative gba/common.html %}

        <div class="enc enc-3 d-none">
            {% include_relative gba/rsefrlg/index.html %}

            <div class="enc enc-wild d-none">
                {% include_relative gba/rsefrlg/wild/index.html %}
            </div>
            <div class="enc enc-gift d-none">
                {% include_relative gba/rsefrlg/gift/index.html %}
            </div>
            <div class="enc enc-egg d-none">
                {% include_relative gba/rsefrlg/egg/index.html %}
            </div>
            <div class="enc enc-untradable d-none">
                {% include_relative gba/rsefrlg/untradable/index.html %}
            </div>
        </div>
    </div>
    <div class="enc enc-gamecube d-none">
        {% include_relative gc/common.html %}

        <div class="enc enc-cxd d-none">
            {% include_relative gc/cxd/index.html %}

            <div class="enc enc-everything d-none">
                {% include_relative gc/cxd/encounter/index.html %}
            </div>
        </div>
        <div class="enc enc-gcbd d-none">
            {% include_relative gc/gcbd/index.html %}

            <div class="enc enc-celebi-bonus-disc d-none">
                {% include_relative gc/gcbd/ageto/index.html %}
            </div>
            <div class="enc enc-channel-jirachi d-none">
                {% include_relative gc/gcbd/channel/index.html %}
            </div>
            <div class="enc enc-jirachi-bonus-disc d-none">
                {% include_relative gc/gcbd/wishmaker/index.html %}
            </div>
        </div>
    </div>
    <div class="enc enc-virtual-console d-none">
        {% include_relative vc/common.html %}

        <div class="enc enc-vc d-none">
            {% include_relative vc/vc/index.html %}

            <div class="enc enc-wild d-none">
                {% include_relative vc/vc/wild/index.html %}
            </div>
            <div class="enc enc-gift d-none">
                {% include_relative vc/vc/gift/index.html %}
            </div>
            <div class="enc enc-egg d-none">
                {% include_relative vc/vc/egg/index.html %}
            </div>
        </div>
    </div>
    <div class="enc enc-mobile d-none">
        {% include_relative mobile/common.html %}

        <div class="enc enc-go d-none">
            {% include_relative mobile/go/index.html %}

            <div class="enc enc-all-transfers d-none">
                {% include_relative mobile/go/all/index.html %}
            </div>
        </div>
    </div>

    <script src="./data.js"></script>
    <script>
        $(document).ready(() => {
            for (let console of Object.keys(data)) {
                var el = new Option();
                el.value = console;
                el.innerText = console;
                $("#console-select").append(el);
            }
            populateGameOptions();
        });

        $("#console-select").change(() => {
            populateGameOptions();
        });

        $("#game-select").change(() => {
            populateEncOptions();
        });

        $("#enc-select").change(() => {
            var o = document.getElementById("enc-select").options;
            var s = o[o.selectedIndex];

            $(".enc").addClass("d-none");
            $(".enc-" + s.dataset.console).removeClass("d-none");
            $(".enc-" + s.dataset.gen).removeClass("d-none");
            $(".enc-" + s.value).removeClass("d-none");
        });

        function populateGameOptions() {
            var parent = document.getElementById("game-select");
            var o = document.getElementById("console-select").options;
            var s = o[o.selectedIndex];

            // clear existing options
            while (parent.firstChild) {
                parent.removeChild(parent.lastChild);
            }

            // populate new options
            for (const game of Object.keys(data[s.value])) {
                var el = new Option();
                el.value = game;
                el.innerText = game;
                var d = data[s.value][game];
                el.dataset.console = s.value.toLowerCase().replace(/\s/, "-");
                el.dataset.gen = d.gen;
                el.dataset.enc = d.enc;
                parent.appendChild(el);
            }

            $("#game-select").change();
        }

        function populateEncOptions() {
            var parent = document.getElementById("enc-select");
            var o = document.getElementById("game-select").options;
            var s = o[o.selectedIndex];
            var enc = s.dataset.enc.split(",");

            // clear existing options
            while (parent.firstChild) {
                parent.removeChild(parent.lastChild);
            }

            // populate new options
            for (var e of enc) {
                var el = new Option();
                el.value = e.toLowerCase().replace(/\s/g, "-").replace("\u{00e9}", "e");
                el.innerText = e;
                el.dataset.console = s.dataset.console;
                el.dataset.gen = s.dataset.gen;
                parent.appendChild(el);
            }

            $("#enc-select").change();
        }
    </script>
