<!--Content added here will apply to any GO selection.-->
{% include proof-accordion/top.html gen="go" %}

<p>
    When obtained in Pok&eacute;mon GO, any Pok&eacute;mon that meet the conditions of
    this list requires proof when trading.
</p>

<h6 span class="fw-bold">
    From any type of encounter (wild/raid/research/etc.):
</h6>
<ul>
    <li>All Shiny Mythical Pok&eacute;mon from Research Tasks.</li>
    <li>5 IV+ Shiny Mythical Pok&eacute;mon from Raids.</li>
    <li>5 IV+ Shiny Pok&eacute;mon of any kind.</li>
    <li>6 IV Legendary/Mythical Pok&eacute;mon.</li>
</ul>

<small>Meltan/Melmetal are included in the list of Mythical Pok&eacute;mon.</small>

<small><span class="fw-bold">Note -</span> Be prepared to provide proof for any GO Pok&eacute;mon from the above list that has both 15 Attack and 15 Defence IVs. When transferred to HOME, its Speed IV is generated upon entry and may roll a significant value, making proof necessary.</small>

{% include proof-accordion/bottom.html %}