<!--Add any 3DS proofing tips here.-->

<h5 span class="fw-bold">Proofing Tips</h5>

<p>It is recommended to unlock the <a href="https://bulbapedia.bulbagarden.net/wiki/Stats_judge">IV Judge function</a> before attempting to prove a Pok&eacute;mon, otherwise you will need to prove the IVs from the stats using an IV calculator (or similar tool/application/overlay).</p>

<p>You should also be ready to take pictures using an external camera, or have the ability to take screen captures on a 3DS console.</p>