<!--Add any Legends: Arceus proofing tips here.-->

<h5 span class="fw-bold">Proofing Tips</h5>

<p>Legends: Arceus does not have an IV judge, this means you will need prove the IVs a different way, alternatives include:

    <ul>
        <li>Viewing Grit Level values immediately after capture (Grit Level 3 = IV value of 31)</li>
        <li>Pok&eacute;mon HOME IV evaluation</li>
        <li>Output from an RNG manipulation tool</li>
        <li>Third party tools/applications if you have access to them (for example, an overlay)</li>
    </ul>
    
<p>It is also recommended to have a spare space in your party for the Pok&eacute;mon to be placed into, this will ensure that you have plenty of time to take a proof video.</p>